
.social-icons{
  position: relative;
  bottom: 50px;
  margin-left: 0;
  text-align: center;
}
.social-icons a{
  display: inline-block;
  width:100%;
  max-width:35px;
  height: 35px;
  background: #7d2ae8;
  border-radius: 50%;
  margin-right:22px;
  text-align: center;
  line-height: 35px;
  border: 1px solid white;
  outline: 2px solid #7d2ae8;
  transition: .3s;
}
.social-icons a:hover{
  transform: translateY(-5px);
}
.social-icons a i{
  color: white;
}
@media (max-width: 768px) {
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}